.App {
  /* text-align: center; */
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction:column;
}

.fill-page {
  height: 100%;
}

#coin-pile {
  background-image: url("./images/coins.jpg");
  background: cover;
  height: 100%;
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */