.App {
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  /* max-height: 100vh; */
}

#coin-pile {
  background-image: url("./images/coins.jpg");
  /* background: cover; */
  /* background-size:cover; */
  background-size:100%;
  /* min-height: 93vh; */
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */